<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>V-for</title>

</head>

<body>

  <div id="app">  
    <form>
      <div>
        <input v-model="cep" type="text" name="cep" placeholder="CEP">
        <button @click.prevent="buscaCep">Buscar CEP</button>
      </div>
      <div>
        <input type="text" name="logradouro" :value="local.logradouro" placeholder="Logradouro">
      </div>
      <div>
        <input type="text" name="bairro" :value="local.bairro" placeholder="Bairro">
      </div> 
    </form>
     <ul>
       <li v-for="(dado, key) in local">
         {{key}}: {{dado}}
       </li>
     </ul>
     <button @click.prevent="buscaCep">Mostrar endereço</button>  
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {   
        local: {}, 
        cep: '',
      },
      methods: {
        buscaCep() {
          fetch(`https://viacep.com.br/ws/${this.cep}/json/`)
            .then(r => r.json())
            .then(json => {
              this.local = json;
            })
        },                
      }
    });
  </script> 

  <!--
  Utilizando a api:
  https://viacep.com.br/ws/04538133/json/
  Mostre o cep, logradouro, complemento, bairro, localidade e uf do que for retornado.

  
  Use o arquivo json da aula, para listar os cursos e as matérias.
  -->


</body>

</html>