<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>V-for</title>

</head>

<body>

  <div id="app">   
    <div v-for="curso in cursos">
       <h1><a :href="curso.link">{{ curso.curso }}</a></h1>
       <ul>
         <li v-for="{nome, tempo} in curso.aulas">
            Nome: {{nome}} <br>
            Tempo: {{tempo}} 
         </li>
       </ul>
    </div> 
    <button @click="listarCursos">Listar cursos</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {    
        cursos: {},
      },
      methods: { 
        listarCursos() {
          fetch('./cursos.json')
            .then(r => r.json())
            .then(json => {
              this.cursos = json;
            }).catch(erro => {
              console.log(Error(erro));
            })
        }          
      }
    });
  </script> 

  <!--  
  Use o arquivo json da aula, para listar os cursos e as matérias.
  --> 

</body>

</html>